@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 6px;
    cursor: pointer;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: rgb(177, 177, 177);
  }
  ::-webkit-scrollbar-track{
    background: #3b3b3b;
  }